@model Tour


<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h4>Tour Sign-Up</h4>
        <form asp-action="Form" method="post">
            <input type="hidden" asp-for="TourId" value="@Model.TourId" />
            <div class="form-group">
                <label asp-for="DateTime">Date & Time:</label>
                <input class="form-control" asp-for="DateTime" value="@Model.DateTime.ToString("yyyy-MM-ddTHH:mm:ss")" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Group.Name">Group Name:</label>
                <input class="form-control" asp-for="Group.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Group.Size">Size of Group:</label>
                <input class="form-control" asp-for="Group.Size" />
            </div>

            <div class="form-group">
                <label asp-for="Group.Email">Email Address:</label>
                <input class="form-control" asp-for="Group.Email" />
            </div>

            <div class="form-group">
                <label asp-for="Group.Phone">Phone Number:</label>
                <input class="form-control" asp-for="Group.Phone" />
            </div>

            <button type="submit" class="btn btn-success">Book Tour</button>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>