@model Tour

<form asp-action="Group" method="post">
     <label asp-for="DateTime">Time:</label>
     <input asp-for="DateTime" />
     <br />

     <label asp-for="Group.Name">Group Name:</label>
     <input asp-for="Group.Name"/>
     <br />

     <label asp-for="Group.Size">Size of Group:</label>
     <input asp-for="Group.Size"/>
     <br />

     <label asp-for="Group.Email">Email Address:</label>
     <input asp-for="Group.Email"/>
     <br />
     
     <label asp-for="Group.Phone">Phone Number:</label>
     <input asp-for="Group.Phone"/>
     <br />
     
     <button type="submit">Book Tour</button>

    <div asp-validation-summary="All"></div>
 </form>